.container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.sm {
  height: 240px;
  width: 180px;
}

.md {
  height: 300px;
  width: 300px;
}

.lg {
  height: 400px;
  width: 100%;
}

.image {
  border-radius: 16px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 20;
  color: white;
  background: linear-gradient(to bottom, #0000004d, #000000e6);
}

.category {
  font-size: 12px;
  color: #f76060;
}

.title {
  font-weight: bold;
}

.excerpt {
  font-size: 12px;
}
