.container {
  width: 90%;
  height: 240px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.image {
  border-radius: 8px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  z-index: 20;
  color: white;
  background: linear-gradient(to bottom, #0000004d, #000000e6);
  gap: "2px";
}

.category {
  font-size: 12px;
  color: #f76060;
}

.title {
  font-weight: bold;
}

.excerpt {
  font-size: 12px;
}